<p>
    <mat-toolbar class="bg-dark">
        <a routerLink="/about" mat-icon-button class="example-icon underline">
            <mat-icon color="warn">flight</mat-icon>
          <span class="underline">BookMyFlight</span>       
        </a>    
        <span class="example-spacer"></span>
        <a mat-button class="mr-1, underline" routerLink="/api/v1.0/user/flight/search">Search Flights</a>        
        <a mat-button class="mr-1, underline" routerLink="/registration">Register</a>
        <a mat-button class="ml-1, underline" routerLink="/login">Log in</a>
    </mat-toolbar>
</p>