<div class="bginfo bg-dark">
    <p class="info">'BookMyFlight' App will give you a best booking deals. From here you can book your flight and enjoy your robust journey....</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="assets/image/flight.jpg" alt="flight.png" class="size">
        </div>
        <div class="col-6 mt-1 text-dark">
            <p>
                <b style="font-size: medium;" class="text-primary">
                    About 'BookMyFlight'
                </b>
            </p>
            <p>
                BookMyFlight helps travel-tourism industry and individuals to get the airline reservation done easily. 
                also you can manage your inventory, agent control, ticket booking, histroy all in one place.
            </p>
            <p>
                To book your flight first you need to register yourself with BookMyFlight. After that you can able to 
                login and serch for your appropriate flight. After that by clicking book button you can book your flight.
                It generates your e-ticket with your PNR number. You can cancel your booking before your schedule flight
                timing, it will deduct the ammount as per our rules and returns remaing. you can see your histroy and manage
                your account any time.
            </p>

            <div>
                <a mat-raised-button color="warn" class="mr-2 underline" routerLink="/api/v1.0/user/flight/search">Search flights</a>
            </div>
            <hr>
            <p>
                <b style="font-size: medium;" class="text-primary">
                    Tips for first-time flyers
                </b>
            </p>
            <p>
                1 – Booking tickets. Booking flight tickets is a breeze, but only if you know how....
                <br>
                2 – Packing right. Pack right, and light....
                <br>
                3 – Getting to the airport. Know your way around? ...
                <br>
                4 – Once you reach the airport....
                <br>
                5 – You're on the plane!...
                <br>
                6 – Be prepared for your destination.
            </p>
        </div>
    </div>
</div>


