<div class="container text-center">
    <div class="row">
        <div class="col-8 offset-2">
            <marquee direction="right"><mat-icon color="warn">flight_takeoff</mat-icon></marquee>
            <div class="text-danger">
                <hr>
            </div>
            <h2>Search Your Flight</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2">
            <mat-card class="shadow">
                <form [formGroup]="Search" (ngSubmit)="searchFlight()">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="legacy"  class="fullwidtth">
                                <mat-label>To Place</mat-label>
                                <input name="to" formControlName="to"
                                matInput placeholder="To Place">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="legacy" class="fullwidtth">
                                <mat-label>From Place</mat-label>
                                <input name="from" formControlName="from"
                                matInput placeholder="Form Place">
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-6 text-left">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button class="mr-2" value="single">Single Trip</mat-radio-button>
                                <mat-radio-button class="ml-2" value="rounded">Rounded Trip</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-6">
                            <mat-form-field appearance="legacy" class="fullwidtth">
                                <mat-label>Depart Date</mat-label>
                                <input name="departDate" type="date" formControlName="departDate"
                                matInput placeholder="Depart Date">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="legacy" class="fullwidtth">
                                <mat-label>Return Date</mat-label>
                                <input name="returnDate" type="date" formControlName="returnDate"
                                matInput placeholder="Return Date">
                            </mat-form-field>    
                        </div>
                    </div>
                    <hr>
                    <div>
                        <button type="submit" mat-raised-button class="underline mb-1 bg-dark text-white fullwidtth">Search</button>
                        <button type="reset" color="warn" mat-raised-button class="underline mt-1 fullwidtth">Cancel</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>