<div class="container text-center">
    <div class="row">
        <div class="col-6 offset-3">
            <marquee direction="right"><mat-icon>flight_takeoff</mat-icon></marquee>
            <div class="text-danger">
                <hr>
            </div>
            <h2>Search Your Flight</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6 offset-3">
            <mat-card class="shadow">
                <form [formGroup]="Search" (ngSubmit)="searchFlight()">

                    <mat-form-field appearance="legacy"  class="fullwidtth">
                        <mat-label>To Place</mat-label>
                        <input name="to" formControlName="to"
                        matInput placeholder="To Place">
                    </mat-form-field>

                    <mat-form-field appearance="legacy" class="fullwidtth">
                        <mat-label>From Place</mat-label>
                        <input name="from" formControlName="from"
                        matInput placeholder="Form Place">
                    </mat-form-field>
    
                    <mat-form-field appearance="legacy" class="fullwidtth">
                        <mat-label>journey Date</mat-label>
                        <input name="bookingDate" type="date" formControlName="bookingDate"
                        matInput placeholder="journey Date">
                    </mat-form-field>
                <hr>
                    <div>
                        <button type="submit" mat-raised-button class="underline mb-1 bg-dark text-white fullwidtth">Search</button>
                        <button type="reset" mat-raised-button class="underline mt-1 text-dark fullwidtth">Cancel</button>
                    </div>
    

                </form>
            </mat-card>
        </div>
    </div>
</div>